{%set url=''%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{% if message == 'Inscrito con exito' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{message}}!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endwith %}
<table class="table">
    <thead class="table-dark">
        <td>Numero de Cuenta</td>
        <td>Nombre</td>
        <td>Accion</td>
    </thead>
    <tbody>
        {% for lista in programming %}
        <tr>
            <td>{{lista.NCuenta}}</td>
            <td>{{lista.Nombre}}</td>
            <td>
                <a href="/Eliminar_Cuenta/{{lista.idActividades}}/{{lista.RegistroId}}" onclick="return ConfirDelete()"
                    class="btn btn-danger btn-delete">Eliminar</a>

                    {% if lista.Evidencia == '' %}
                    <a class="btn btn-danger ">No hay Evidencia</a>
                    {%else%}
                    <a href="{{lista.Evidencia}}" target="_blank" rel="noopener noreferrer"  class="btn btn-info">Ver Evidencia</a>
                    {% endif %}
            </td>
        </tr>


        {% endfor %}
    </tbody>
</table>