<h4 align="center">Informes</h4>

    <table class="table">
        <thead class="table-dark">
            <td>Descripcion</td>
            <td>Fecha</td>
            <td>Accion</td>
        </thead>
        <tbody>
            {% for lista in listas %}
            <tr>
                <td>{{lista.Descripcion}}</td>
                <td>{{lista.Fecha}}</td>
                <td> 
                {% if lista.Reporte == '' %}
                {%else%}
                <a href="{{lista.Reporte}}" target="_blank" rel="noopener noreferrer"  class="btn btn-info">Ver Informe</a>
                {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
        
        
    </table>